# Các th? m?c biên d?ch (D?u / ? cu?i ?? ch? ??nh ?ây là th? m?c)
bin/
obj/
.vs/

# Các file c?u hình cá nhân c?a ng??i dùng
*.user
*.userosscache
*.sln.docstates

# File c?u hình môi tr??ng (?? tránh l? chu?i k?t n?i Database)
appsettings.Development.json